<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>ar.gov.chris.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/supermercado/greet</url-pattern>
  </servlet-mapping>
      
  <servlet>
    <servlet-name>ProxyPantallaProductos</servlet-name>
    <servlet-class>ar.gov.chris.server.proxies_pantallas.ProxyPantallaProductosImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ProxyPantallaProductos</servlet-name>
    <url-pattern>/supermercado/proxies_pantallas/ProxyPantallaProductos</url-pattern>
  </servlet-mapping>
       
    <servlet>
    <servlet-name>ProxyPantallaListas</servlet-name>
    <servlet-class>ar.gov.chris.server.proxies_pantallas.ProxyPantallaListasImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ProxyPantallaListas</servlet-name>
    <url-pattern>/supermercado/proxies_pantallas/ProxyPantallaListas</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ProxyPantallaPrecios</servlet-name>
    <servlet-class>ar.gov.chris.server.proxies_pantallas.ProxyPantallaPreciosImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ProxyPantallaPrecios</servlet-name>
    <url-pattern>/supermercado/proxies_pantallas/ProxyPantallaPrecios</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ProxyPantallaLoguearse</servlet-name>
    <servlet-class>ar.gov.chris.server.proxies_pantallas.ProxyPantallaLoguearseImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ProxyPantallaLoguearse</servlet-name>
    <url-pattern>/supermercado/proxies_pantallas/ProxyPantallaLoguearse</url-pattern>
  </servlet-mapping>
    
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Supermercado.html</welcome-file>
  </welcome-file-list>

</web-app>
