/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}


.logueo-centrado {
    width: 150px;
  height: 50px;
  padding: 5px;
  position: absolute; 
  left: 720px; 
  top: 350px;  
  text-align: center;
  font: bold;
  background-color:#A3F31C; 
  
}

.tableCell-even {
  padding: 5px;
  background: #008AB8;
  border: 1px solid #ffffff;
}

.tableCell-odd {
  padding: 5px;
  background: #FFCC33;
  border: 1px solid #ffffff;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

/**** LINK-tag style sheet estilos.css ****/
body {
	background-color: #c9d6f5;
	color: black;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	/*margin: 20px 20px 20px 20px;*/

width: 960px; margin-left: auto; margin-right: auto;
}

.TabBar {
	color: #55331C;
}

.ConTamanioAuto {
	height: auto;
	width: auto;
}

.Subtitulo {
	color: #55331C;
	font-size: 110%;
	width: 100%;
	padding-left: 8;
	padding-top: 2;
	padding-bottom: 2;
}

.Subsubtitulo {
	color: #55331C;
	font-size: 102%;
	width: 100%;
	padding-left: 8;
	padding-top: 2;
	padding-bottom: 2;
}

.DatoDistinguido {
	color: black;
	font-weight: bold;
}

.Pagado {
	color: #3E3BFF;	
	font-weight: bold;
}

.PagadoYControlado {
	color: #30B762;	
	font-weight: bold;
	background-color: #EEEEEE;
}

.MesSeparador {
	color: #328f96;	
	font-weight: bold;
	font-size: 38px;
}

.ComplejidadAlta {
	color: #FF4524;	
	font-weight: bold;
}

.SinNetoApagarIngresado {
	color: Red;	
	font-weight: bold;
}

.Disclaimer {
	color: red;
	font-size: 100%;
	width: 100%;
	border: 1px solid #FFD5AF;
	padding-left: 8;
	padding-top: 2;
	padding-bottom: 2;
}

.ImageButton {
	border: 1px outset #BF8660;
	cursor: pointer;
}

.Pedido {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 2px;
	border: 1px dotted #BF8660;/*FFD5AF;*/
	background-color: white; /*#FFE8D9;*/
}

.Descripcion {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: none;
	background-color: white; /*#FFE8D9;*/
	width: 100%;
	height: 100%;
}

.WidgetPreviewCasosSoporte {
	color: #55331C;
	/*background-color: #FFE8D9;*/
		background-color: #dffffe;
	border: 2px solid #FFD5AF;
	border-collapse: collapse;
	width: 100%;
	height: 100%;
}

.WidgetPreviewCasosSoporte td {
	padding: 3px;
	border: 2px solid #FFD5AF;
}

.PanelPrincipal {
	/*width: 100%;
	color: #55331C;
	align: rigth;
	vertical-align: top;
	background-color: #55331C;*/
	position:relative;	
	width:99%;
    height:100%;
    top:100px;
    left:10px;
/*     right:10px; */
}

.PanelPrincipalLogueo {
	/*width: 100%;
	color: #55331C;
	align: rigth;
	vertical-align: top;
	background-color: #55331C;*/
	position:relative;	
	width:100%;
    height:100%;
/*     left:10px; */
/*     right:10px; */
}

.PanelPrincipalChris {
	width: 25%;
/* 	color: #55331C; */
/* 	align: rigth; */
	/*vertical-align:middle;*/
	/*background-color: #55331C;*/
	/*position:relative;*/	
	
    height:100%;
    background-color:#85c475;
    
    left:100px;
    top:10px;
	
	
	
}

.widget {
margin-bottom: 1em;
}

.estiloTabla {
  border: 1px solid silver;
  padding: 6002px;
  margin-bottom:6px;
}

.innercontent {
    min-height: 290px;
    padding-bottom: 10px;
    padding-top: 30px;
    padding-left: 90px;
    padding-right: 90px;
    border: 1px solid #84929B;
    /* background: #9fc8df; */
    /* box-shadow: 0 2px 3px rgba(0,0,0,.2); */
}

.centrar
	{
		position: absolute;
		/*nos posicionamos en el centro del navegador*/
/* 		top:10%; */
		left:40%;
		/*determinamos una anchura*/
/* 		width:400px; */
		/*indicamos que el margen izquierdo, es la mitad de la anchura*/
/* 		margin-left:-200px; */
		/*determinamos una altura*/
/* 		height:100px; */
		/*indicamos que el margen superior, es la mitad de la altura*/
		margin-top:150px;
		
		/*border:1px solid #808080;/*
		/*padding:10px;*/
			font-weight: bold;
		
		  background-color:#ffffff; 
		  
		  border: 2px solid #249140;
		      border-radius:10px;
		  

	}
	
	.menu-fijo { 
	position: fixed; 
	top: 0; 
}

.version { 
	border-top: 5px solid #333;
    padding-bottom: 5px;
    color:#FFF;
    height:40px;
    line-height:50px;
    text-align:center;
    background-color:#008080;
/*     aling: right; */
    left: 120px;
    
    
    /*Las 3 líneas siguientes, sirven para el borde redondeado
     * pero para diferentes navegadores*/
    -webkit-border-radius:5px;
    -moz-border-radius:10px;
    border-radius:10px;
}

.contenido_pantalla {
	margin-top:150px
}
	
	.cabecera{
    /*linea azul que separa logo*/
    border-bottom: 5px solid #333;
    padding-top: 5px;
    color:#FFF;
    height:70px;
    line-height:50px;
    text-align:center;
            background-color:#25879b;
                font-size:20px;
            
    
    /*
        background-color:#15ABFF;
    
    background-color:#20e3f0;*/
        /*background-color:#F1218d;*/
    
    
    /*Las 3 líneas siguientes, sirven para el borde redondeado
     * pero para diferentes navegadores*/
    -webkit-border-radius:5px;
    -moz-border-radius:10px;
    border-radius:10px;
}


.header{
    /*linea azul que separa logo*/
    
    /*
    border-top: 5px solid #333;
    padding-bottom: 5px;
    
    height:400px;
    line-height:50px;
    */
    
    color:#FFF;
    text-align:center;
    background-color:#25879b;
    
    width: 100%;
    
    font-size:30px;
    font-family:Impact;
    	
    
}

.footer{
    /*linea azul que separa logo*/
    border-top: 5px solid #333;
    padding-bottom: 5px;
    color:#FFF;
    height:40px;
    line-height:50px;
    text-align:center;
    background-color:#25879b;
    
    /*Las 3 líneas siguientes, sirven para el borde redondeado
     * pero para diferentes navegadores*/
    -webkit-border-radius:5px;
    -moz-border-radius:10px;
    border-radius:10px;
}
	
.centrar-tabla
	{
			padding:0px;
	
	}
.centrar-tabla td 
	{
	padding:20px;
	}
	
	.panel-botones-logueo
	{
	padding:10px;
	}

.panel-botones-logueo td
	{
	padding:5px;
	}
	
	.textbox-logueo {
	    border-radius:10px;
	     -webkit-border-radius:5px;
    -moz-border-radius:10px;
    
        background-color:#dddddd;
    
	
	}
	
	.textbox-logueo:focus {
/*border:2px solid #06c;*/

box-shadow: 0 0 5px rgba(230,95,0,1);border:1px solid rgba(230,95,0,0.8);
}

.PanelExpandido {
	width: 100%;
	height: 100%;
}

.PanelExpandido td {
	height: 100%;
}

.PanelExpandidoHorizontal {
	width: 100%;
}

.PanelSinBordes {
	border-style: none;
}

.PanelSinBordes td {
	border-style: none;
}

.PanelSinBordesExpandido {
	border-style: none;
	width: 100%;
}

.PanelSinBordesExpandido td {
	border-style: none;
}

.PanelConBordes {
	border: 2px solid #FFD5AF;
	border-collapse: collapse;
	background-color: #dffffe;
	width: 100%;
}

.PanelConBordes td {
	border: 2px solid #FFD5AF;
	border-collapse: collapse;
}

.PanelConBordesExternos {
	border: 2px solid #FFD5AF;
	border-collapse: collapse;
	background-color: #dffffe;
	width: 100%;
}

.PanelConBordesExpandido {
	border: 2px solid #FFD5AF;
	border-collapse: collapse;
	background-color: #dffffe;
	width: 100%;
	height: 100%;
}

.PanelConBordesExpandido td {
	border: 2px solid #00bbbb;
	border-collapse: collapse;
}

.PanelSinPadding {
	padding: 0px;
}

.PanelSinPadding td {
	padding: 0px;
}

.PanelEspera {
	font-size: 22px;
	text-align: center;
	padding: 10px;
	position: fixed;
	top: 40%;
	right: 35%;
	background-color: #dffffe;
	width: 800px;
	border: 10px solid #249140;
	border-collapse: collapse;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
}

.HeaderEditor {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
}

.HeaderTablas {
/* 	background: #FFD5AF; */
	background: #249140;
	color: #55331C;
/* 	border: 1px solid #FFD5AF; */
	border: 1px solid #249140;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 32px;
	text-align: center;
}



.ProductoConPrecioxKg {
/* 	background: #FFD5AF; */
	background: #abd1d3;
	color: #55331C;
/* 	border: 1px solid #FFD5AF; */
	border: 1px solid #249140;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 32px;
	text-align: center;
}

.ItemEditorAcciones {
/* 	background-color: #dffffe; */
	background-color: #249140;
	
	width: 100%;
/* 	border: 1px solid #FFD5AF; */
		border: 1px solid #249700;
	
	border-collapse: collapse;
}

.ItemEditorAcciones td {
	align: left;
	vertical-align: top;
	width: 50%;
}

.ContenidoTablas {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 32px;
	background-color: white; /*#FFE8D9;*/
	padding: 3px;
	text-align: center;
	border-collapse: collapse;
}

.ContenidoTablasLeft {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: white; /*#FFE8D9;*/
	padding: 3px;
	text-align: left;
}

.Dialogo {
	border: 2px solid #FFD5AF;
	border-collapse: collapse;
	background-color: #FFE8D9;
	width: 100%;
}

.Dialogo td {
	border: 2px solid #FFD5AF;
	padding: 1px;
}

.Historial {
	border: 2px solid #FFD5AF;
	border-collapse: collapse;
	background-color: #FFE8D9;
	width: 100%;
}

.Historial td {
	border: 2px solid #FFD5AF;
	padding: 1px;
	width: 100%;
}

.ItemHistorial {
	width: 100%;
	height: 80px;
	padding: 2px;
	border: none;
}

.ItemHistorial td {
	border: none;
}

.HeaderItemHistorial {
	color: #754627;
	font-weight: bold;
}

.TrailerItemHistorial {
	font-weight: bold;
}

.HeaderEvaluacionItemHistorial {
	color: #754627;
	font-weight: bold;
}

.MsjHeader {
	color: #55331C;
	font-weight: bold;
}

.EditorAcciones {
	border: 2px solid #FFA160;
	border-collapse: collapse;
	background-color: #dffffe;
	color: #55331C;
	width: 100%;
}

.EditorAcciones td {
	border-style: none;
}

.LabelDistinguido {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 32px;
	color: #55331C;
}

.LabelComentario {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 12px;
}

.LabelResaltado {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	background-color: #FCD48E;/*#FFA160;*/
}

.LabelMensajeNoLeido {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #55331C;
	text-decoration: blink;
}

.LabelAccEnCurso {
	color: #35A26B;
}

.LabelAccDevuelta {
	color: #4E6ECC;
}

.LabelAccCancelada {
	color: #8A8A8A;
}

.Submenu {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 90%;
}

.Version {
	text-align: center;
}

a {
	color: #55331C;
}

a:visited {
	color: #47667F;
}

img {
	border: none;
}

hr {
	color: #47667F;
	background-color: #47667F;
}

.gwt-FlexTable {
	width: 100%;
}

.gwt-Button {
	border: 1px outset #BF8660;
	font-size: 22px;
	padding-top: 1;
	padding-bottom: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: #1e8c78 none repeat scroll 0 0;
	color: #55331C;
	width: 150px;
	height: 80px; 
	cursor:pointer;
	border-radius: 13px;
}

.gwt-Button:hover {
color: Blue;
}

.gwt-Button[disabled] {
	font-size: 12px;
	padding-top: 1;
	padding-bottom: 1;
	border: 1px outset #FFD5AF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: #13a5ac none repeat scroll 0 0;
	color: #55331C;
}

.gwt-PushButton-up {
	color: #55331C;
	border: 1px outset #BF8660;
	background-color: #328f96;
	cursor: pointer;
}

.gwt-PushButton-up-hovering {
	color: #55331C;
	border: 1px outset #BF8660;
	background-color: #328f96;
	cursor: pointer;
}

.gwt-PushButton-down {
	color: #55331C;
	border: 1px inset #BF8660;
	background-color: #0080ff;
	cursor: pointer;
}

.gwt-PushButton-down-hovering {
	color: #55331C;
	border: 1px inset #BF8660;
	background-color: #0080ff;
	cursor: pointer;
}

.gwt-PushButton:hover {
color: Red;
}

.gwt-CheckBox {
	font-size: 12px;
}

.gwt-DialogBox {
	background-color: #dffffe;
}

.gwt-DialogBox .Caption {
	background: url(bg_tit.png) repeat-x #dffffe;
	padding: 2px;
	margin: 0px;
	text-align: center;
	font-weight: bold;
	color: #55331C;
	cursor: default;
}

.gwt-ListBox {
	border: 1px dotted #BF8660;
}

.gwt-Grid {
	width: 100%;
}

.Menu {
	width: 100%;
}

.gwt-MenuBar {
	background-color: #dffffe;
	cursor: default;
}

.gwt-MenuBar .gwt-MenuItem {
	padding: 0px 4px 0px 4px;
	font-size: 12px;
	cursor: default;
}

.gwt-MenuBar .gwt-MenuItem-selected {
	background-color: #FFD5AF;
}

.gwt-PasswordTextBox { /*width: 180px;*/
	border: 1px dotted #BF8660;
}

.gwt-RadioButton {
	font-size: 12px;
}

.gwt-TabBar {
	background-color: white;
	border-bottom: 1px solid #BF8660;
}

.gwt-TextArea {
	border: 1px dotted #BF8660;
	width: 100%;
}

.gwt-TextBox { /*width: 180px;*/
	border: 1px dotted #BF8660;
}

.gwt-StackPanel .gwt-StackPanelItem {
	border: 1px outset #BF8660;
	background-color: #FFD5AF;
	cursor: pointer;
}

.Calendario {
	border: 2px solid #FFD5AF;
	/*background-color: #dffffe;*/
	background-color: #dffffe;
}

.Calendario .navbar {
	color: #55331C;
	background: url(bg_tit.png) repeat-x #dffffe;
	width: 100%;
	vertical-align: middle;
	border-bottom: 1px solid #FFD5AF;
}

.Calendario .navbar .gwt-Button {
	padding-left: 5px;
	padding-right: 5px;
}

.Calendario .table {
	font: 10pt sans-serif;
	text-align: center;
}

.Calendario .weekheader {
	color: #55331C;
	background: url(bg_tit.png) repeat-x #dffffe;
}

.Calendario .weekheader .days {
	width: 3em;
}

.Calendario .cell {
	cursor: pointer;
}

.Calendario .cell .gwt-HTML {
	border: 1px solid #6cfffc;
}

.Calendario .cell .gwt-HTML span {
	width: 100%;
	height: 100%;
	line-height: 2em;
}

.Calendario .today .gwt-HTML {
	color: white;
	background-color: #5291f8;
}

.Calendario .day .gwt-HTML {
	border: 1px solid #FFD5AF;
}

.gwt-Hyperlink {
	font-size: 12px;
}

.Clickeable {
	cursor: pointer;
	text-decoration: underline;
}

.gwt-DecoratorPanel {
	border: 5px solid #FFD5AF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.gwt-DecoratorPanel .middleCenterInner {
	height: 100%;
	width: 100%;
	vertical-align:top;
}

.gwt-DisclosurePanel {
	width: 100%;
}

.gwt-DisclosurePanel .header {
	border: 3px solid #317b97;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#328f96 none repeat scroll 0 0;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 48px;
	vertical-align: center;
	width: 99%;
	height:100%;
	text-decoration:none;
}

.gwt-DisclosurePanel .content {
	width: 100%;
}

/**********************************************************************/
.gwt-DialogBox .Caption {
	background: url(bg_tit.png) repeat-x #dffffe;
	padding: 4px 4px 4px 8px;
	cursor: default;
	border-bottom: 1px solid #bbbbbb;
	border-top: 5px solid #1848ef;
}

.gwt-DialogBox .dialogContent {
	
}

.gwt-DialogBox .dialogMiddleCenter {
	padding: 3px;
	background: #dffffe;
}

.gwt-DialogBox .dialogBottomCenter {
	background: url(hborder.png) repeat-x 0px -4px;
}

.gwt-DialogBox .dialogMiddleLeft {
	background: url(vborder.png) repeat-y;
}

.gwt-DialogBox .dialogMiddleRight {
	background: url(vborder.png) repeat-y -4px 0px;
}

.gwt-DialogBox .dialogTopLeftInner {
	width: 5px;
	zoom: 1;
}

.gwt-DialogBox .dialogTopRightInner {
	width: 8px;
	zoom: 1;
}

.gwt-DialogBox .dialogBottomLeftInner {
	width: 5px;
	height: 8px;
	zoom: 1;
}

.gwt-DialogBox .dialogBottomRightInner {
	width: 5px;
	height: 8px;
	zoom: 1;
}

.gwt-DialogBox .dialogTopLeft {
	background: url(corner.png) no-repeat -13px 0px;
}

.gwt-DialogBox .dialogTopRight {
	background: url(corner.png) no-repeat -18px 0px;
}

.gwt-DialogBox .dialogBottomLeft {
	background: url(corner.png) no-repeat 0px -15px;
}

.gwt-DialogBox .dialogBottomRight {
	background: url(corner.png) no-repeat -5px -15px;
}

html>body .gwt-DialogBox {
	
}

.gwt-DialogBox .dialogTopLeftInner {
	width: 5px;
	overflow: hidden;
}

.gwt-DialogBox .dialogTopRightInner {
	width: 8px;
	overflow: hidden;
}

.gwt-DialogBox .dialogBottomLeftInner {
	width: 5px;
	height: 8px;
	overflow: hidden;
}

.gwt-DialogBox .dialogBottomRightInner {
	width: 8px;
	height: 8px;
	overflow: hidden;
}

/* --------- Estilo del TabLayoutPanel (EditorAccionesCasoSoporte) --------- */
/* the panel itself */
.gwt-TabLayoutPanel {
	height: 100%;
}
./* the tab bar element */
gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
    }
/* an individual tab */
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
	border: 3px solid #FFDDBF;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#FFDDBF none repeat scroll 0 0;
	padding-left:5px;
	padding-right:5px;
	color: #55331C;
	cursor: pointer;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected
{
    border: 3px solid #FFD5AF;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#FFD5AF none repeat scroll 0 0;
	padding-left:5px;
	padding-right:5px;
	font-weight: bold;
	color: #55331C;
	cursor: pointer;
}

/* an element nested in each tab (useful for styling) */
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabInner {
} 
.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
	border: 3px solid #FFD5AF;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	padding-left:5px;
	padding-right:5px;
}

/* --------- Estilo del Menu Lateral --------- */
	
.ContenedorPrincipal {
}

.Titulo {
	color: #55331C;
	background: #FFD5AF none repeat scroll 0 0;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 150%;
}

.Pantalla {
	padding: 10px;
}

.TabBar {
	padding-top:15px;	
	padding-left:5px;
}

.tabSeleccionado {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	padding-left:5px;
	padding-right:5px;
	font-size:90%;
	border: 3px solid #FFD5AF;
	background:#FFD5AF none repeat scroll 0 0;
	
}

.tabNoSeleccionado {
	border: 3px solid transparent;
	cursor: default;
	padding-left:5px;
	padding-right:5px;
}

.Contenido {
	border: 5px solid #FFD5AF;
}

.Contenido .middleCenterInner {   
	vertical-align: top;
}

.gwt-SuggestBox { 
   color: green;
}
.gwt-SuggestBoxPopup .item-selected { 
   color: blue;
   font-size: 300%; 
       /*background: red !important;*/
   
}

.gwt-SuggestBoxPopup .suggestPopupContent {
 background: #dffffe;
}

/* ---------creo que lo que sigue no lo uso por ahora --------- */


.gwt-SuggestBoxPopup { 
   border: thin 10px solid green; 
   width: 200px;
}
.gwt-SuggestBoxPopup.item { 
	    background: red !important;
	
   color: red; 
}
.gwt-SuggestBoxPopup .suggestPopupTopLeft { 
   border: thin 10px solid green; 
}
.gwt-SuggestBoxPopup .suggestPopupTopLeftInner { 
   border: thin 10px solid green; 
}
.gwt-SuggestBoxPopup .suggestPopupTopCenter { 
   border: thin 10px solid green; 
}
.gwt-SuggestBoxPopup .suggestPopupTopCenterInner { 
   border: thin 10px solid green; 
}
.gwt-SuggestBoxPopup .suggestPopupTopRight {
   border: thin 10px solid green; 
}
.gwt-SuggestBoxPopup .suggestPopupTopRightInner {
   border: thin 10px solid green; 
}
.gwt-SuggestBoxPopup .suggestPopupMiddleLeft { 
   border: thin 10px solid green;
}
.gwt-SuggestBoxPopup .suggestPopupMiddleLeftInner { 
   border: thin 10px solid green;
}
.gwt-SuggestBoxPopup .suggestPopupMiddleCenter { 
   border: thin 10px solid green; width:200px;
}
.gwt-SuggestBoxPopup .suggestPopupMiddleCenterInner { 
   border: thin 10px solid green;
}
.gwt-SuggestBoxPopup .suggestPopupMiddleRight { 
   border: thin 10px solid green;
}
.gwt-SuggestBoxPopup .suggestPopupMiddleRightInner { 
   border: thin 10px solid green;
}
.gwt-SuggestBoxPopup .suggestPopupBottomLeft {
   border: thin 10px solid green;
}
.gwt-SuggestBoxPopup .suggestPopupBottomLeftInner { 
   border: thin 10px solid green;
}
.gwt-SuggestBoxPopup .suggestPopupBottomCenter {
   border: thin 10px solid green;
 }
.gwt-SuggestBoxPopup .suggestPopupBottomCenterInner { 
   border: thin 10px solid green;
}
.gwt-SuggestBoxPopup .suggestPopupBottomRight { 
   border: thin 10px solid green;
}
.gwt-SuggestBoxPopup .suggestPopupBottomRightInner { 
   border: thin 10px solid green;
}